<div class="error">
  <% if (error.status === 404){ %>
    <h3>The page you are looking for does not exist.</h3>
    <a href="/">Return to Tempest.</a>
  <% } else { %>
    <h2><strong><%= error.status %></strong></h2>
    <h3><%= message %></h3>
  <% } %>
</div>

<% if(env === 'development') { %>
  <pre><%= error.stack %></pre>
<% } %>
