<!DOCTYPE html>
<html>
  <head>
    <title>Tempest</title>
  </head>
  <body>
    <% if (typeof user !== 'undefined') { %>
      <div class="container-fluid">
        <h1>Tempest</h1>
        <p>Powered by node.js</p>
      </div>
    <% } else { %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1>Tempest</h1>
            <p>Powered by node.js</p>
          </div>
          <div class="col-sm-6">
            <form action="/login" method="POST">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Log in</button>
            </form>
            <hr>
            <p>New to Tempest?</p>
            <a href="/signup" class="btn btn-primary">Sign up</a>
          </div>
        </div>
      </div>
    <% } %>
  </body>
</html>
