<!DOCTYPE html>
<html>
  <head>
    <title>Tempest</title>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="../javascripts/script.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <h1>Tempest</h1>
          <p>Powered by node.js</p>
        </div>
        <div class="col-sm-8">
          <div class="form-control" id="messagebox">
            <p id="roomid">Main</p>
          </div>
          <% if (typeof user !== 'undefined') { %>
            <form id="messageform">
              <input type="hidden" id="user" value=<%= user.username %>>
              <input type="text" id="messageinput" class="form-control" autocomplete="off">
              <input type="submit" value="Send" class="btn btn-primary">
            </form>
          <% } else { %>
            <div class="container">
              <strong>Log in or sign up to post</strong>
            </div>
          <% } %>
        </div>
        <div class="col-sm-2">
          <% if (typeof user !== 'undefined') { %>
            <h1>Settings</h1>
          <% } else { %>
          <% } %>
          <h3>News</h3>
        </div>
      </row>
    </div>
  </body>
</html>
