<!DOCTYPE html>
<html>
  <head>
    <title>Tempest</title>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="../javascripts/script.js"></script>
  </head>
  <body>
    <% if (typeof user !== 'undefined') { %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <h1>Tempest</h1>
            <p>Powered by node.js</p>
          </div>
          <div class="col-sm-7">
            <div class="form-control" id="messagebox">
              <p>Main</p>
            </div>
            <form id="messageform">
              <input type="hidden" id="user" value=<%= user.username %>>
              <input type="text" id="messageinput" class="form-control" autocomplete="off">
              <input type="submit" value="Send" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    <% } else { %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1>Tempest</h1>
            <p>Powered by node.js</p>
          </div>
          <div class="col-sm-4">
            <form action="/signup" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="firstname" placeholder="First name" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="lastname" placeholder="Last name" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block btn-lg">Sign up</button>
              <div class="terms">
                <p>By clicking sign up, you agree to the Tempest term and conditions.</p>
              </div>
            </form>
            <br>
          </div>
        </div>
      </div>
    <% } %>
  </body>
</html>
