<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand">Tempest</a></div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/">Notifications</a></li>
          <li><a href="/">Messages</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if(typeof user !== 'undefined'){ %>
            <li><a href="/users/<%= user.id %>">Welcome, <%= user.username %></a></li>
            <li><a href="/logout">Sign out</a></li>
          <%}else{ %>
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup">Sign up</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <%- body %>
  </body>
</html>
