<!DOCTYPE html>
<html>
  <head>
    <title>Tempest - Notifications</title>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h4>You currently have no notifications</h4>
    </div>
  </body>
</html>
