body {
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  color: #0084B4;
}

#messagebox{
  margin: 10px 0px;
  overflow: auto;
  height: 420px;
}

.terms{
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.modal-footer{
  text-align: center;
}

.bold{
  font-weight: bold;
  font-size: 18px;
}

.message{
  width: 90%;
}

.messagetime{
  float: right;
  color: #aaa;
}
