body {
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  color: #0084B4;
}

p {
  line-height: 1.5em;
}

#messagebox{
  margin: 10px 0px;
  overflow: auto;
  height: 400px;
}

#popular{
  margin-top: 10px;
  max-height: 256px;
  overflow-y: auto;
}

.subheader{
  margin-bottom: 20px;
}

.random{
  margin: 20px 0px;
  font-weight: bold;
}

.terms{
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.modal-footer{
  text-align: center;
}

.bold{
  font-weight: bold;
  font-size: 18px;
}

.message{
  width: 80%;
}

.messagetime{
  float: right;
  color: #aaa;
  font-size: 12px;
}

.error{
  margin: 40px 0px;
  text-align: center;
  line-height: 2em;
}
