body {
  padding: 50px;
  padding-top: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0084B4;
}

.terms{
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
